.topnav {
    overflow: hidden;
    background-color: rgb(3, 2, 50);
  }
  
  .topnav .link {
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .topnav .link:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .link.active {
    background-color: #0526bb;
    color: white;
  }